php_version=8.2
web_server=nginx
document_root=public

# Database Configuration
database_type=pgsql
database_host=ep-crimson-bird-a46hyy47.aws-us-east-1.pg.laravel.cloud
database_port=5432
database_name=main
database_username=laravel
database_password=npg_DWalwCmzK7t5

# Build Settings
buildpack=heroku/php
composer_install=true
npm_install=false